.container {
  background-color: $gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .cards {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 85%;
  }
}

.index__main_title {
  display: flex;
  justify-content: center;

  > h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}