.post {
  background-color: $white;
  display: grid;
  grid-template:
    "image info" 450px
    "features features" auto
    "reviews reviews" auto/
    50% 50%;
  height: fit-content;
  padding: 20px;
  width: 100%;
  @media screen and (max-width: $mobile) {
    grid-template:
      "image" auto
      "info" auto
      "features" auto
      "reviews" auto/
      100%;
  }

  &__image {
    display: flex;
    grid-area: image;
    height: 90%;
    justify-content: center;
    width: 90%;
  }

  &__info {
    display: flex;
    grid-area: info;
    justify-content: end;
  }

  &__text {
    text-align: justify;
    width: 100%;
  }

  &__features {
    grid-area: features;
  }

  &__reviews {
    grid-area: reviews;
  }
}
