.post {
  background-color: $white;
  display: grid;
  grid-template:
    "image info" 400px
    "seller seller" 50px
    "features features" auto
    "ranking reviews" auto/
    50% 50%;
  height: fit-content;
  padding: 20px;
  width: 100%;
  @media screen and (max-width: $mobile) {
    grid-template:
      "image" auto
      "info" auto
      "features" auto
      "ranking" auto
      "reviews" auto/
      100%;
  }

  &__image {
    display: flex;
    grid-area: image;
    height: 95%;
    justify-content: center;
    width: 90%;
  }

  &__info {
    display: flex;
    grid-area: info;
    justify-content: end;
  }

  &__seller {
    grid-area: seller;
  }

  &__text {
    text-align: justify;
    width: 100%;

    &--name {
      margin-top: -20px;
      font-weight: bold;
      font-size: 28px;
      color: $black;
      text-decoration: none;
    }
  }

  &__features {
    grid-area: features;
  }

  &__rankings {
    grid-area: ranking;
  }
  &__reviews {
    grid-area: reviews;
  }
}
