.profile-section {
  &__title {
    width: 40%;
    h2 {
      color: $logo-yellow;
    }
  }
}

.profile__main_info {
  width: 100%;
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-bottom: 2%;
    width: 100%;
    > img {
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
      width: 100%;
    }
  }

  &__data {
    align-items: center;
    display: flex;
    margin: 0px 0 0 30px;
    position: absolute;
    top: 17%;
    &_params {
      > form {
        margin-left: 10px;
        > button {
          color: $white;
          background-color: $blue-button-sell;
          border: 1px solid $blue-button-sell;
          border-radius: 5px;
          font-size: 14px;
          padding: 5px;
          width: 140px;
          &:hover {
            background-color: $blue-button-sell-hover;
            border: 1px solid $blue-button-sell-hover;
          }
        }
      }
      > h1 {
        color: $logo-yellow;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 90px 0 0 10px;
      }
    }
  }

  &__image {
    height: 200px;
    width: 200px;
    > img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 50px;
    width: 100%;

    h2 {
      font-size: 25px;
    }
  }
}

.profile__buy_sell {
  display: flex;
  justify-content: space-around;
  width: 100%;

  div {
    h2 {
      color: $logo-yellow;
      font-size: 20px;
    }
    p {
      color: $black;
      font-size: 40px;
      text-align: center;
    }
  }
}

.profilepic {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.profilepic__cover {
  width: 100%;

  > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
  color: white;
  font-size: 40px;
  padding-bottom: 8px;
}

.profilepic__text {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.profilepic__text__sizes {
  opacity: 0.4;
}

.hide__field_file {
  display: none;
  width: 50%;
  height: 50%;
}
