<div class="comment mb-2">
  <div class="rating">
    <% post_comment.ranking.times do%>
      <i class="fa-solid fa-star star--active"></i>
    <% end %>
    <% (5 - post_comment.ranking).times do%>
      <i class="fa-solid fa-star star"></i>  
    <% end %>
  </div>
  <h6> <%= post_comment.title %> </h6>
  <p> <%= post_comment.comment %> </p>
</div>
