<div class="purchases_card">

  <div class="purchases_card__body row align-items-center">
    <h5 class="purchases_card__date">Comprado el 6 de abril de 2022</h5>
    <div class="purchases_card__image">
      <%= image_tag("german.png", class:"card-img-top col") %>
    </div>
    <div class="col second_column">
      <h5 class="purchases_card__title">Camisa original</h5>
      <h6 class="purchases_card__subtitle mb-2 text-muted">Por: Maria Ochoa</h6>
      <h6 class="purchases_card__quantity">Cantidad: (1) Total:$300.00</h6>
      <button class="purchases_cards__button"><a href="#" class="purchases_card__link">Ver artículo</a></button>
    </div>
    <div class="col third-column">
      <button class="purchases_cards__button" id="evaluate_product"><a href="#" class="purchases_card__link" id="purchases_second_button">Evaluar Producto</a></button>
      <button class="purchases_cards__button" id="evaluate_seller"><a href="#" class="purchases_card__link" id="purchases_second_button">Evaluar Vendedor</a></button>
    </div>
  </div>
</div>
