<div class="cards">
<div class="card ">
  <div class="card-body row align-items-center">
    <h5 class="card-title">Comprado el 6 de abril de 2022</h5>
    <img class="card-img-top col" src=".../" alt="Card image cap">
    <div class="col second-column">
    <h5 class="card-title">Camisa original</h5>
    <h6 class="card-subtitle mb-2 text-muted">Por: Maria Ochoa</h6>
    <button class="button"><a href="#" class="card-link">Ver artículo</a></button>
    </div>
    <div class="col third-column">
    <button class="button" id="evaluate"><a href="#" class="card-link" id="second-button">Evaluar Producto</a></button>
    <button class="button" id="evaluate"><a href="#" class="card-link" id="second-button">Evaluar Vendedor</a></button>
    </div>
  </div>
</div>
</div>
</div>
