<h1 class="purchases_title">Compras</h1>
<div class="purchases_cards">
  <% @bought.each do |order| %>
    <% order.order_details.each do |product| %>
      <%= render partial:'users/purchases_card', locals:{product:product} %>
    <% end %>
  <% end %>
</div>
