<%#= render 'home/user_navbar' %>
<section class="sold">
  <% @sold.each do |s|%>
    <% s.order_details.each do |order|%>
      <%= render 'sold_product', order:order, post: s %>
    <% end %>>
  <% end %>
</section>