html {
  box-sizing: border-box;
}
body{
  position: relative;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.main-container {
  padding-bottom: 260px;

  @media screen and (max-width: $mobile) {
    padding-bottom: 710px;
  }
}