html {
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
  background-color: $gray;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: calc(100vh - $footer-size - 66px);
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  margin-top: 66px;
}
