html {
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: calc(100vh - $footer-size - 56px);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 56px;
}
