<div class="user_navbar">
  <div class="user_navbar__box">
    <%= image_tag('profile.png', class: "user_navbar__image") %>
  </div>
  <ul class="nav_section">
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-person-fill"></i>
      <p class="nav_section__text">Información</p>
    </li>
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-heart-fill"></i>
      <p class="nav_section__text">Favoritos</p>
    </li>
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-bell-fill"></i>
      <p class="nav_section__text">Notificaciones</p>
    </li>
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-bag-dash-fill"></i>
      <p class="nav_section__text"> Compras</p>
    </li>
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-bag-dash-fill"></i>
      <p class="nav_section__text">Ventas</p>
    </li>
    <li class="nav_section__item">
      <i class="nav_section__icon bi bi-chat-fill"></i>
      <p class="nav_section__text">Mensajes</p>
    </li>
  </ul>
</div>
