<div>
  <%=render "user_navbar" %>
</div>
<h1>Home</h1>

<div class="">
  <div class="">
    <%=image_tag("brooms.png", alt: "brooms image") %>
    <h2>escobas don chuy</h2>
    <div class="">
      <i class="fa-solid fa-tag"></i>
      <p>Hogar</p>
      <p>Limpieza </p>
    </div>
    <div class="">
      <span>$25.00</span>
      <p>x 1</p>
    </div>
    <img src="" alt="">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aspernatur saepe nemo dolor unde,
       earum quibusdam qui optio consequatur placeat sequi rem, debitis reprehenderit quo soluta odit maxime fuga illum!</p>
    <button>Ver mas <img src="" alt=""></button>
  </div>
</div>
