<div class="carousel">
  <%=render "image_carousel" %>
</div>
<div class="index__main_title">
  <h1>Bienvenido!</h1>
</div>
<div class="container">
  <div class="container__card">
    <%= render 'home/carousel' %>
  </div>
</div>
