.footer {
  background-color: black;
  width: 100%;
  height: 260px;
  display: grid;
  position: absolute;
  bottom: 0;
  grid-template:
          "about nav contact social" 90%
          "copyrigth copyrigth copyrigth copyrigth" 10%/
          40% 20% 20% 20%;
  padding: 32px 50px 16px 50px;
  @media screen and (max-width: $mobile) {
    height: fit-content;
    grid-template:
          "about" auto
          "nav" auto
          "contact" auto
          "social" auto
          "copyrigth" 50px/
          100%;
    padding: 16px;
    gap: 40px;
    justify-content: center;
  }


  .footer-about {
    grid-area: about;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 0;

    &__box {
      width: 100%;
      margin-bottom: 5px;
    }

    &__icon {
      width: 40px;
      max-width: 100%;
      height: 40px;
    }

    &__text {
      width: 70%;
      text-align: justify;
      color: white;
    }

    @media screen and (max-width: $mobile) {
      &__text {
        width: 100%;
      }
    }
  }

  .footer-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;

    &__text {
      color: white;
      width: 100%;
      margin-bottom: 16px;

      &--yellow {
        color: $yellowFF;
        width: 100%;
      }
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 12px;
    }

    @media screen and (max-width: $mobile) {
      text-align: center;
      &__links {
        gap: 20px;
      }
    }

  }

  .footer-contact {
    grid-area: contact;
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    &__box {
      display: flex;
      width: 100%;
      margin: 15px 0;
      align-items: center;
    }

    &__icon {
      width: 30px;
      font-size: 30px;
      height: 30px;
      color: $yellowFF;
    }

    &__text {
      color: white;
      width: fit-content;
      margin-left: 15px;

      &--title {
        color: white;
      }
    }

    @media screen and (max-width: $mobile) {
      text-align: center;
      justify-content: center;
      &__icon {
        display: none;
      }
      &__box {
        margin: 0 0 16px 0;
        justify-content: center;
      }

      &__text {
        color: white;
        width: fit-content;
        margin: 0;
        color: $yellowFF;

        &--title {
          margin-bottom: 16px;
        }
      }
    }

  }

  .footer-social {
    grid-area: social;
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    &__text {
      color: white;
      width: 100%;
    }

    &__box {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100px;
      height: 100px;
      gap: 22px;

    }

    &__icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $yellowFF;
    }

    @media screen and (max-width: $mobile) {
      justify-content: center;
      &__text {
        display: none;
      }
      &__box {
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        gap: 30px;
      }
    }
  }

  .footer-copyrigth {
    grid-area: copyrigth;

    &__text {
      text-align: center;
      color: white;
    }

    @media screen and (max-width: $mobile) {
      border-top: 1px solid $graye1;
      padding-top: 16px;
    }


  }

  &__box {
    @media screen and (max-width: $mobile) {
      display: none;
    }
    width: 40px;
    height: fit-content;
    position: absolute;
    right: 50px+16px;
    bottom: 50px;
  }
}

