a {
    display: flex;
    justify-content: flex-start;
    color: $white;
}

.navbar {
    font-family: $font;
    background-color: $red;
}


.navbar-button {
    background-color: $logo-yellow;
    color: $white;
    height: 60px;
    width: 60px;
    font-size: 20px;
    margin-left: 40px;
    border-color: $logo-border;
    border-radius: 10px;
    border-width: 3px;
}



.nav-item, .nav-link {
    color: $white !important;
}

.form-control {
    width: 420px;
    font-weight: 1px;
    border-radius: 10px;
}

.icon_placeholder::placeholder {
    font: var(--fa-font-solid);
    opacity: 0.6;
}


.navbar-icon-cart {
    color: $white !important;
    font: var(--fa-font-solid);
    margin: 15px;
    padding: 10px;
    text-align: center;
}
