.navbar {
  background-color: $red;
  font-family: $primary-font;
}

.icon_placeholder::placeholder {
  font: var(--fa-font-solid);
  opacity: 0.6;
}

.nav__icon {
  color: $white;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__logo {
  height: 40px;
  margin-left: 10px;
  width: 40px;
}
