// Colors
$links: #ffcd1c;
$border: #e1e1e1;
$active-red: #db4d4d;
$black: #000000;
$gray: #e5e5e5;
$logo-yellow: #d89f0e;
$red: #c64e4e;
$text-gray: #909090;
$white: #ffffff;
$navbar: #892e2e;
$profile-button:#2460FB;
$icon-yellow: #F3DB00;
$primary-green:#2D882D;
$secondary-green: #E2FAE2;
$gray-light: #BDBDBD;
$white-light: #FDFDFD;
$blue-button-sell: #2460FB;
//ViewPorts
$mobile: 700px;
$desktop: 1200px;

//Components-size
$footer-size: 260px;

//Borders
$card-border: 1px solid #00000020;
$logo-border: 2px solid #0000004d;
$text-black-border: $black 1px 0px 0px, $black 0.540302px 0.841471px 0px,
  $black -0.416147px 0.909297px 0px, $black -0.989992px 0.14112px 0px,
  $black -0.653644px -0.756802px 0px, $black 0.283662px -0.958924px 0px,
  $black 0.96017px -0.279415px 0px;

// Font Family
$primary-font: "Roboto", sans-serif;
