<section class="reviews">
  <div class="reviews__header mb-1">
    <h2>Reviews</h2>
    <%= link_to "Añadir Review", new_comment_path(id: post_id), 
    class:"btn btn-outline-danger rounded-pill px-4 mx-3" %>
  </div>
  <div id="post_comments" class="reviews__comments">
    <% comments.reverse_order.each do |post_comment| %>
      <%= render post_comment %>
    <% end %>
</div>
</section>
