<div class="posts">
  <div class="posts__title">
    <h1>Ultimas publicaciones</h1>
    <hr>
  </div>

  <div class="container__card">
    <div class="render__cards posts">
      <% @posts.each do |post| %>
        <%= render 'posts/post_card', post: post %>
      <% end %>
    </div>
    <%= paginate @posts%>
  </div>
<%= link_to "New post", new_post_path %>

</div>



