<div class="post">
  <div class="post__image">
    <%= image_tag('postpng.png', class: "image") %>
  </div>
  <div class="info">
    <%= render 'posts/post_info' %>
  </div>
  <div class="post__features">
    <h1>Principales caracteristicas</h1>
  </div>
  <div class="post__reviews">
    <%= render partial:"comments", locals:{comments: @post.post_comments, post_id: @post.id}%>
  </div>
</div>
<div>
</div>
