<div class="post">
  <div class="post__image">
    <%= image_tag('postpng.png', class: "image") %>
  </div>
  <div class="info">
    <%= render 'posts/post_info' %>
  </div>
  <div class="post__features">
    <h1>Principales caracteristicas</h1>
  </div>
  <div class="post__reviews">
    <h1>Aqui van las reviews</h1>
  </div>
</div>
<div>
</div>
