.cards {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 80px;
}

.container__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  width: 100%;
}

.card {
  border-radius: 1rem;
  height: 600px;
  padding: 2rem;
  width: 400px;

  &__description__post {
    height: 72px;
    margin-top: 20px;
  }

  &__title__post {
    max-height: 500px;

    h2 {
      a {
        text-decoration: none;
        color: $black;

      }
    }
  }

  &__image {
    display: flex;
    height: 300px;
    justify-content: center;
    max-height: 247px;
    max-width: 370px;
    width: 100%;

    img {
      max-height: 247px;
      max-width: 370px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  h2 {
    font-weight: 700;
    margin-top: 1rem;
    text-transform: capitalize;
  }
}

@media screen and (max-width: $mobile) {
  .card {
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 1rem;
    width: 320px;
  }

  .container__card {
    display: block;
  }
}

.card__features {
  color: $text-gray;
  display: flex;
  gap: 0.2rem;
  justify-content: left;
}

.card__container-price {
  align-items: center;
  display: flex;
  gap: 1rem;

  p {
    margin-bottom: 0;
  }
}

.card--price {
  color: $red;
  font-size: 2rem;
  font-weight: 700;
}

.card--info {
  text-align: justify;
}

.card__more-info {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: end;
  bottom: 0;

  &:hover {
    a,i {
      color: $primary-green;
    }

    i {
      margin-left: 10px;
      transform: rotate(-90deg);
      transition: all ease .5s;
    }
  }

  a,i {
    color: $text-gray;
    text-decoration: none;
  }
}

.container__card__order {
  margin: 6rem 0;
  text-align: center;
}

.card__order {
  border: 2px solid $black;
  box-shadow: -4px 11px 32px -2px rgba(0,0,0,0.73);
  height: 600px;
  margin: 0 auto;
  width: 500px;

  h2 {
    text-transform: capitalize;
  }
}

.posts {
  flex-wrap: wrap;

  &__title{
    //max-width: 30%;
    display: flex;
    justify-content: center;
  }

  hr {
    margin-top: 0;
  }

  h1 {
    color: $logo-yellow;
    margin-bottom: 5px;
    font-size: 40px;
  }
}
