.render__cards {
  display: flex;
  margin: 50px;
  justify-content: space-between;
  gap: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  margin: 0 10px;
}

.carousel__icon {
  font-size: 40px;
  color: $black;
}

@media screen and (max-width: 700px) {
  .carousel__buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: relative;
  }
}
