.carousel {
  display: flex;
  width: 100%;

  justify-content: center;
}
.d-block {
  height: 320px;                                                                                                                                                                                                                                                                                                                          
  object-fit: cover;
}
