.logo {
  align-items: center;
  border-radius: 8%;
  display: flex;
  height: 140px;
  justify-content: center;
  margin: 0% auto 15% auto;
  width: 140px;
  
  h2 {
    color: $gray;
    text-shadow: $text-black-border;
  }
}
