.post_form {
  align-items: center;
  background-color: $white-light;
  display: flex;
  flex-direction: column;

  &__view {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    background-color: #9B9191;
  }
}

.form_post--alert_error {
  color: $red;
}

.form_post {
  margin: 20px;

  &__field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    &_radio {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label:first-child {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      &--buttons{
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: center;

        label {
          margin-right: 20px;
        }
        input {
          margin-right: 5px;
        }
      }
    }
  
    label, p {
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 700;
    }
  
    > input {
      border: 2px solid $gray-light;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      height: 45px;
      margin: 10px 0;
      padding: 10px;
      width: 330px;
    }
  
    textarea {
      border: 2px solid $gray-light;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 700;
      min-height: 150px;
      max-height: 150px;
      margin: 10px 0;
      padding: 10px;
      width: 330px;
    }
  }

  &__add_items {
    align-items: center;
    background-color: $gray;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 40px;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
    width: 330px;

    &:hover {
      background-color: $gray-light;
    }
  }

  &__field--input {
    display: none;
  }

  &__message {
    input {
      display: none;
    }
  }

  &__container {
    height: 100px;
    margin: 0 10px 10px 0;
    position: relative;
    width: 100px;

    &:hover {
      opacity: .8;
    }
  }

  &__delete {
    background-color: $red;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .3s ease;
    width: 100%;
    &:hover {
      opacity: .8;
    }
  }

  &__delete__icon {
    color: $white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }

  &__picture {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__show_images {
    display: grid;
    grid-template-columns: repeat(3, calc(350px / 3));
    height: 100%;
    width: 350px;
  }

  &__button {
    background-color: $blue-button-sell;
    border: 1px solid $blue-button-sell;
    border-radius: 10px;
    color: $white;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    width: 330px;
  }

  @media (min-width: $desktop) {
    background-color: $white-light;
    margin: 0;

    &__field {
      input {
        width: 450px;
      }

      textarea {
        width: 450px;
      }

    }

    &__add_items, &__button {
      width: 450px;
    }

    &__show_images {
      grid-template-columns: repeat(4, calc(450px / 4));
    }
  }
}

.fa-trash {
  &:hover {
    color: $white;
  }
}

.form_post__cont-checkbox {
  height: 100px;
  width: 100px;

  > input {
    display: none;
  }

  input:checked + label {
    opacity: 0.6;
  }

  input:checked + label .form_post__delete {
    opacity: .8;
  }

  &:active {
    transform: scale(0.98);
  }

  label {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .post_form__view {
    background-color: $white-light;
    border: 1px solid black;
    box-shadow: 2px 2px 5px;
    margin: 40px;
    padding: 20px;
    width: 800px;
  }
}