.purchases_title {
  width: 40%;

  h2 {
    color: $logo-yellow;
  }
}


.purchases_cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 50px;
  overflow: auto;
  padding: 20px;
  width: 95%;
}

.purchases_card {
  border-radius: 10px;
  border: 2px solid $red;
  box-sizing: border-box;
  height: fit-content;
  margin: 10px 0;
  padding: 5px;
  width: 800px;
  background-color: $white;


  &__body {
    padding: 10px;
  }

  &__image {
    height: 165px;
    width: 195px;
    > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  
  &__title {
    margin: 0px;
  }

  &__quantity {
    color: $text-gray;
    font-size: 14px;
    margin-top: 0px;
  }

  &__subtitle, .text-muted {
    color: $gray;
    margin: 0px;
  }
}
