.purchases_title {
    margin: 0 auto;
    max-width: 700px;
}

.purchases_title::after {
    content: '';
    background-color: $icon-yellow;
    width: 160px;
    height: 3px;
    display: block;
}

.purchases_cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    line-height: 50px;

    
    > div {
        margin: 10px 0;
    }
}

.purchases_card {
    height: 200px;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid $red;
    border-radius: 10px;
    position: relative;
}

.purchases_card__body {
    padding: 2px;

    .buttons__evaluate {
        position: absolute;
        right: 0;
        max-width: 230px;
        top: 20px;
    }
}



.purchases_cards__button {
    background-color: $button-yellow;
    border-radius: 20px;
    border: $button-yellow;
    height: 45px;
    text-align: center;
    width: 180px;
    margin: 15px;

    > a {
        text-decoration: none;
    }
}

.button--article {
    margin-left: 0;
}

#evaluate_product {
    background-color: $profile-button;
    border: $profile-button;
}

#evaluate_seller
{
    background-color: $profile-button;
    border: $profile-button;
    margin-top: 40px;
    
}

.purchases_card__link {
    color: $black;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#purchases_second_button {
    color: $white;
    margin: 10px;
}

.purchases_card__image {
    width: 135px;
    height: 135px;

    > img {
        object-fit: cover;
    }
}

.purchases_title {
    margin-top: 70px;
    font-size: 30px;
    color: $purchases-title;
    margin-bottom: 2px;
}

.purchases_card__title {
    margin: 0px;
}

.purchases_card__quantity {
    margin-top: 0px;
    font-size: 14px;
    color: $gray-dark;
}

.purchases_card__subtitle, .mb-2, .text-muted {
    margin: 0px;
    color: $gray;
}

.purchases_line {
    width: 420px;
    margin-top: 0px;
    color: $black;
}
