.session_form {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  width: 100%;

  &--alert_error {
    color: $red;
    font-weight: 300;
  }

  &__card {
    background-color: $white;
    border: $card-border;
    border-radius: 10px;
    margin: 5%;
    padding: 3%;

    &__link {
      color: $text-gray;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        color: $active-red;
      }
    }

    @media (orientation: landscape) {
      width: 30%;
    }
  }

  .field {
    margin: 3% 0%;

    .form-control {
      background-color: $gray;
    }

    .color-control {
      border-color: $black;
    }

    .color-control--error {
      border-color: $red;
    }
  }
}
