.sold-container {
  display: grid;
  grid-template-columns: 320px calc(100% - 320px);
  grid-template-rows: calc(100vh - 56px);
  grid-template-areas: "nav sold";
  
  .user_navbar {
    grid-area: nav;
  }
  
  .sold-section {
    grid-area: sold;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  
    &__title {
      width: 40%;
      margin: 3% 0% 0% 10%;
  
      h2 {
        color: $logo-yellow;
      }
  
      hr {
        margin-top: 0%;
      }
    }
  }
}

.sold {
  width: 95%;
  overflow: auto;

  &__card {
    background-color: $white;
    // border: 2px solid $navbar;
    border: $card-border;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    width: 85%;

    &__title {
      margin-left: 4%;
    }

    &__description {
      display: flex;
      margin: 2% 1%;
      width: 100%;

      &__image {
        border: $card-border;
        border-radius: 5px;
        width: 30%;
      }

      &__info {
        margin: auto 3%;
        width: 70%;

        &__more {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .btn-info {
            background-color: $links;
            border: $card-border;
            font-weight: 600;
            
            &:hover {
              background-color: $active-yellow;
            }
          }
        }
      }
    }
  }
}
