@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "base/reset";
@import "base/typography";
@import "utils/variables";
@import "base/globals";
@import "components/scrollbar";
@import "components/buttons";
@import "components/logo";
@import "components/session_form";
@import "layout/header";
@import "layout/footer";
@import "utils/helpers";
@import "layout/user_navbar";
@import "components/info_post";
@import "components/image";
@import "components/stars";
@import "components/ranking";
@import "components/reviews";
@import "pages/post";
@import "pages/index";
@import "components/cards";
@import "components/carousel";
@import "components/info_post";
@import "components/image";
@import "components/post_form";
@import "components/carousel_images";
@import "components/sold_card";
@import "components/buy_modal";
@import "pages/post";
@import "components/purchases_card";
@import "pages/user_page";
@import "pages/new_password";
@import "components/user_form_edit";
@import "pages/profile";
@import "pages/post_comment";
@import "layout/container_sidebar";

main {
  background-color: $gray;
  .postion-alert {
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.main-container {
  background-color: $gray;
}
