<footer class="footer">
  <section class="footer-about">
    <div class="footer-about__box">
      <%= image_tag("logo.png", class: "footer-about__icon", alt: "Master logo") %>
    </div>
    <p class="footer-about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus tincidunt nullam
      ultrices condimentum. Eget vitae
      pharetra et, lectus vestibulum nunc id. </p>
  </section>
  <section class="footer-nav">
    <p class="footer-nav__text">Enlaces</p>
    <div class="footer-nav__box">
      <a class="footer-nav__text--yellow">Productos</a>
      <a class="footer-nav__text--yellow">Sign In</a>
    </div>

  </section>
  <section class="footer-contact">
    <p class="footer-contact__text--title">Contacto</p>
    <div class="footer-contact__box">
      <i class="fa-solid fa-address-book footer-contact__icon"></i>
      <p class="footer-contact__text">+52 3123699665</p>
    </div>
    <div class="footer-contact__box">
      <i class="fa-solid fa-at footer-contact__icon"></i>
      <p class="footer-contact__text">contacto@colimarket.com</p>
    </div>
  </section>
  <section class="footer-social">
    <p class="footer-social__text">Redes sociales</p>
    <div class="footer-social__box">
      <i class="fa-brands fa-instagram-square footer-social__icon"></i>
      <i class="fa-brands fa-whatsapp-square footer-social__icon"></i>
      <i class="fa-brands fa-facebook-square footer-social__icon"></i>
      <i class="fa-brands fa-twitter-square footer-social__icon"></i>
    </div>
  </section>
  <div class="footer-copyrigth">
    <p class="footer-copyrigth__text">Todos los derechos reservados © COLI-MARKET </p>
  </div>
  <div class="footer__box">
    <%= image_tag("Master.png", class: "footer__image", alt: "Master logo") %>
  </div>
</footer>
