
<header class="header">
  <nav class="nav">
    <a href="#" class="logo nav-link">Logo</a>
    <ul class="nav-menu">
    </ul>
      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Servicios</a>
      </li>

      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Productos</a>
      </li>

      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Busca productos, servicios</a>
      </li>

      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Perfil</a>
      </li>
  </nav>
</header>