<nav class="navbar fixed-top navbar-light navbar-expand-md">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-sm-none d-md-block d-none d-sm-block" href="#">
    <button class="navbar-button d-inline-block align-top">Logo</button>
    </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">PRODUCTOS</a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtontwo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    MENU
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Información</a>
    <a class="dropdown-item" href="#">Favoritos</a>
    <a class="dropdown-item" href="#">Compras</a>
    <a class="dropdown-item" href="#">Ventas</a>
    <a class="dropdown-item" href="#">Mensajes</a>
  </div>
</div>
</div>
 
  <input type="text" class="form-control icon_placeholder d-inline-block align-top " placeholder=" Busca productos">
  <i class="fa-solid fa-cart-shopping"></i>
   <i class="fa-solid fa-bell"></i>

<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mi cuenta
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Mi perfil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Sign out</a>
  </div>
</div>
</div>
</nav>
