<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reestablecer contrase単a para local-ecommerce</title>
  </head>
  <body>
    <div>
      <p>Hola,</p>
      <p>Recibimos tu solicitud para reestablecer tu contrase単a</p>
      <p> <%=link_to "Presiona este enlace para reestablecer tu contrase単a", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>.</p>
      <p>Tienes 6 horas para usar este enlace, si no solicitaste un cambio de contrase単a ignora este correo</p>
      <p> Si tienes algun problema contacta a  <a href="mailto:alex_curielg@hotmail.com">support@example.com</a>. Y nuestro equipo te ayudara.</p>
      <p>TNo compartas este link con nadie!</p>
    </div>
  </body>
</html>
